#container {
 display: flex;
 flex-direction: column;
 width: 150px;
}

#toggle-design-mode-btn {
  border: none;
  outline: none;
  background-color: #cccccc;
  color: black;
  border-radius: 5px;
  margin-left: 8px;
}
.active {
  background-color: green;
  color: white;
}
.deactive {
  background-color: #cccccc;
  color: black;
}
